.App {
  text-align: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

* {
  box-sizing: border-box;
}

.movie {
  padding: 10px;
  max-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: black;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}

.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}
